{% extends 'base.html' %}

{% block body %}
{% load static %}

<div class="login-form">
    <form method="post">
        {% csrf_token %}
		<div class="avatar"><i class="fa fa-user" aria-hidden="true"></i></div>
    	<h4 class="modal-title">Password reset</h4>
        <p>Forgotten your password, reset it here</p>
        {% csrf_token %}
    {{form}}
    <input type="submit" name="send email">
    </form>
    <div class="text-center small">Don't have an account? <a href="{% url 'sign_up'  %}">Sign up</a></div>
</div>
{% endblock %}



<h3>Password reset</h3>

<p>Forgotten your password, reset it here</p>

<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="send email">
</form>