{% extends 'base.html' %}

{% block body %}
{% load static %}

{% block title %}<title>HDEF | About</title>{% endblock %}

  <header class="masthead text-light text-center" id="homehead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
            <h3 class="mb-1" style="font-family: 'Poiret One', cursive;">ABOUT US</h3>
          <p>Higher Destiny Educational Foundation is a non-profit organization that was established in 2016.
              since 2016, we've helped trusted, community-led organizations from Turfloop! Lorem ipsum dolor
              sit amet, consectetur adipisicing elit. A dolores earum harum laudantium modi molestiae provident
              reprehenderit vero vitae voluptate!
              </p>
        </div>
      </div>
    </div>
  </header>


{% endblock %}